%h2 Update:
%h3= @robot.name
%img{class: "img-responsive img-thumbnail", src: "https://robohash.org/#{@robot.id}.png", alt: "Avatar"}
%form{action: "/robots/#{@robot.id}", method: "POST"}
  %input{type: "hidden", name: "_method", value: "PUT"}
  .form-group
    %label{for: "robot[name]"} Name
    %input{class: "form-control", type: "text", name: "robot[name]", value: @robot.name} <br>
  .form-group
    %label{for: "robot[city]"} City
    %input{class: "form-control", type: "text", name: "robot[city]", value: @robot.city} <br>
  .form-group
    %label{for: "robot[state]"} State
    %input{class: "form-control", type: "text", name: "robot[state]", value: @robot.state} <br>
  .form-group
    %label{for: "robot[birthdate]"} Birthdate
    %input{class: "form-control", type: "date", name: "robot[birthdate]", value: @robot.birthdate} <br>
  .form-group
    %label{for: "robot[hired_date]"} Date of Hire
    %input{class: "form-control", type: "date", name: "robot[hired_date]", value: @robot.hired_date} <br>
  .form-group
    %label{for: "robot[department]"} Department
    %input{class: "form-control", type: "text", name: "robot[department]", value: @robot.department} <br>
  %input{class: "btn btn-primary", type: "submit", value: "update"}
%br
