!!!
%html
  %head
    %title Robot World
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "/css/application.css"}
  %body
    .container
      %header{class: "logo"}
        %h1 Robot World
      %nav
        %a{class: "btn btn-default", href: "/"} Dashboard
        %a{class: "btn btn-default", href: "/robots"} View Catalog
        %a{class: "btn btn-default", href: "/robots/new"} Add Robot
      %section
        =yield
      %script{src: "https://code.jquery.com/jquery-2.1.4.min.js"}
      %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
