%h2 Add Robot:
%form{action: "/robots", method: "POST"}
  .form-group
    %label{for: "robot[name]"} Name
    %input{class: "form-control", type: "text", name: "robot[name]"} <br>
  .form-group
    %label{for: "robot[city]"} City
    %input{class: "form-control", type: "text", name: "robot[city]"} <br>
  .form-group
    %label{for: "robot[state]"} State
    %input{class: "form-control", type: "text", name: "robot[state]"} <br>
  .form-group
    %label{for: "robot[birthdate]"} Birthdate
    %input{class: "form-control", type: "date", name: "robot[birthdate]"} <br>
  .form-group
    %label{for: "robot[hired_date]"} Date of Hire
    %input{class: "form-control", type: "date", name: "robot[hired_date]"} <br>
  .form-group
    %label{for: "robot[department]"} Department
    %input{class: "form-control", type: "text", name: "robot[department]"} <br>
  %input{class: "btn btn-primary", type: "submit"}
%br
